@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bgRed: oklch(0.577 0.245 27.325);
  --color-title: oklch(0.37 0.013 285.805);
  --color-paragraph: rgb(19, 19, 19);
}

@layer components {
  .title {
    font-weight: bold;
    color: var(--color-title);
    line-height: normal;
    font-size: 3rem;
  }

  .paragraph {
    color: var(--color-title);
  }

  .subtitle {
    color: var(--color-title);
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

:root {
  --hue-1: #a14444;
  --hue-2: #0ab660b7;
  --hue-3: #b60a91b7;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #efefef;
  overflow-x: hidden;
  font-family: "Noto Sans"sans-serif;
}